R"(
 html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #666;
}

header {
    background-color: #333;
    color: lightsteelblue;
    padding: 10px;
    text-align: center;
}

nav {
    text-align: center;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #555;
}

.content {
    padding: 5px;
    margin: 0px 10% 0px 10%;
    background-color: white;
    border: 10px solid #ddd;
    height: 80%;
}

del {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-decoration-color: #333;
    color: #333;
}

p {
    margin: 10px 0;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 16px 0 8px 0;
    line-height: 1.3;
}

/* code */
code {
    font-family: RobotoMono;
    background-color: #f4f4f4;
    padding: 1px 4px;
    border-radius: 3px;
    font-size: 0.7em;
}

pre {
    display: inline-block;
    /* prevents full-width block */
    max-width: 100%;
    overflow-x: auto;
    background-color: #f4f4f4;
    padding: 6px 18px;
    border-radius: 4px;
}

pre code {
    display: inline;
    font-size: 0.7em;
    background: transparent;
    padding: 0;
}

/* blockquote */
blockquote {
    margin: 10px 0;
    padding: 5px 10px;
    border-right: 3px solid #aaa;

    background-color: #f7f7f7;
    width: auto;
    color: #555;

    display: inline-block;
    width: fit-content;
    max-width: 100%;

}


/* lists */
ul,
ol {
    margin: 10px 0;
    padding-left: 24px;
    font-size: 0.8em;
}

li {
    margin: 4px 0;
    font-size: 0.8em;
}

/* links */
a {
    color: steelblue;
}

a:hover {
    text-decoration: underline;
}

/* images */
img {
    max-width: 100%;
}

/* hr */
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 16px 0;
}

/* table */
table {
    border-collapse: collapse;
    margin: 1em 0;
    font-size: 0.9em;
    width: auto;
}

th,
td {
    padding: 0.5em 0.9em;
    border: 1px solid #000000;
    text-align: left;
}

th {
    background-color: #f4f4f4;
})"